<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="angular.min.js"></script>
    <script src = "app.js"></script>
  </head>
<body>
   <div class="container">
     <h1>Lunch Checker</h1>
      <div ng-controller="LunchCheckController">
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="liststring">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkNumberOfItems()">Check If Too Much</button>
         </div>

         <div ng-if="items > 0 && items <= 3">
          <div class="alert alert-success" role="alert">
            {{sayMessage(items)}}
          </div>
         </div>

          <div ng-if="items > 3">
            <div class="alert alert-danger" role="alert">
              {{sayMessage(items)}}
            </div>
          </div>

          <div ng-if="items === 0">
            <div class="alert alert-info" role="alert">
              {{sayMessage(items)}}
            </div>
          </div>

      </div>
   </div>

</body>
</html>
